<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--<suite name="BookStore Automation Suite" parallel="tests" thread-count="2">-->
<suite name="BookStore Automation Suite" >
    <listeners>
        <listener class-name="utilities.ExtentReportListener" />
    </listeners>
    <test name="Account Registration Tests">
        <classes>
<!--        <class name="testCases.TC_001AccountRegistrationTest"/>-->
<!--        <class name="testCases.TC_002AccountRegistrationTestDDTxlsx"/>-->
<!--        <class name="testCases.TC_003AccountRegistrationTestDDTDB"/>-->
<!--        <class name="testCases.TC_004BooksPageTest"/>-->
<!--        <class name="testCases.TC_005TextBoxTest"/>-->
<!--        <class name="testCases.TC_006CheckBoxPageTest"/>-->
<!--        <class name="testCases.TC_007RadioBtnsPageTest"/>-->
<!--        <class name="testCases.TC_008WebTablesTest"/>-->
<!--        <class name="testCases.TC_009ButtonsTest"/>-->
<!--        <class name="testCases.TC_010LinksTest"/>-->
<!--        <class name="testCases.TC_011BrokenLinksTest"/>-->
<!--        <class name="testCases.TC_012UploadDownloadTest"/>-->
            <class name="testCases.TC_013DynamicPropertiesTest"/>
        </classes>
    </test>

</suite>
